<section ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="RIT Social" class="img-responsive text-center" src="modules/core/client/img/brand/Rajeev_Institute_of_Technology.JPG" />
      </div>
    </div>
    <br>
    <div class="row">
      <p class="lead">
        College Herald - An one-stop solution to announce your events.......
      </p>
    </div>
    <div class="row">
      <p>
        <a class="btn btn-primary btn-lg" href="http://www.rithassan.org/" target="_blank">Visit College Website</a>
      </p>
    </div>
  </div>
  
  <br>Enjoy the journey into the World of JavaScript with MEAN Stack,
  <br>Deepa, Ashwini and Rukmini- Final year CSE Students
</section>
