<section ng-controller="ExamsController" ng-init="find()">
  <div class="page-header">
    <h1>Exams</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="exam in exams" ui-sref="exams.view({examId: exam._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="exam.created | date:'mediumDate'"></span>
        by
        <span ng-bind="exam.user.displayName"></span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="exam.ExamName"></h4>
      <p class="list-group-item-text" ng-bind="exam.ExamType"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="exams.$resolved && !exams.length">
    No exams yet, why don't you <a ui-sref="exams.create">create one</a>?
  </div>
</section>
